<h2>Add Student</h2>

<form asp-action="Add">
    <label>Name:</label>
    <input type="text" name="Name" />
    <label>Class:</label>
    <input type="text" name="ClassName" />
    <button type="submit">Add Student</button>
</form>
